body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1056px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  display: flex;
  justify-content: center;
  background-color: lightgreen;
  padding: 27px 0;
  margin: 0;
}

#left, #right {
  width: 50%;
  height: 1056px;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#left { 
  background-color: lightyellow;
  padding-top: 22px;
}
#right {
  background-color: lightblue;
  align-items: center;
  padding-top: 22px;
}

#bottom {
  height:auto;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: mistyrose;
}

#cardsTitle {
  display: flex;
  justify-content: center;
  background-color: mistyrose;
  padding: 15px 0;
  margin: 0;
}

#formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  height: 550px;
  width: 490px;
  justify-content: center;
}

.itemsForm {
  display: inline-flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  width: 50%;
  text-align: center;
  margin: 5px 0;
}

.itemsForm2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-content: flex-end;
  align-items: center;
  width: 50%;
}

.input {
  display: inline-flex;
  width: 200px;
  margin: 5px 10px;
}

#card {
  width: 370px;
  height: 550px;
  border: 7px solid black;
  border-radius: 30px;
  background-color: mediumorchid;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

#cardTitle, #cardRare{
  background-color: violet;
  height: 57px;
  width: 100%; 
}
#cardRare{
  margin-bottom: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: inline-flex;
  justify-content: space-around;
}

#cardTitle {
  margin-top: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#cardTitle h2 {
  font-size: 32px;
  margin: 0;
  padding: 10px 0;
}

#cardImage {
  width: 100%;
  height: 250px;
}

#cardImage img {
  margin-bottom: 5px;
  width: 50%;
  height: 100%;
}

#cardDescription {
  margin: 5px 10px;
  background-color: lightgray;
  width: 90%;
  height: 110px;
}

#cardDescription p {
  margin: 5px;

}

.attrValue {
  background-color: gray;
  padding: 6px 10px;
  margin: 0;
}

.attrTitle {
  margin: 7px 10px;
}

#cardAttr1 , #cardAttr2 , #cardAttr3 {
  margin: 3px;
  background-color: lightgray;
  height: 30px;
  width: 90%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#buttom {
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 8px;
  margin: 10px 5px;
}